@using System.Web.UI.WebControls
@model ModuloCongresso.Application.ViewModels.Cotacao.CotacaoViewModel

@{
    Layout = "~/Views/Shared/_Layout_3.cshtml";
    ViewBag.Title = "Cotação Automovel";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row  border-bottom black-bg dashboard-header">
        <div class="col-sm-8">
            <h2>Seguro Automóvel</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content">
                <div class="row">
                    <div class="col-lg-9">
                        <div id="wizard">
                            <h1>Seguro / Segurado</h1>
                            <div class="step-content">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <h5>Dados do Seguro</h5>
                                        <div class="ibox-tools">
                                            <a class="close-link">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="ibox-content no-padding">
                                        <div class="ibox-content">
                                            @Html.Partial("_automovelCotacao", Model)
                                        </div>
                                    </div>
                                </div>
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <h5>Dados do Segurado</h5>
                                        <div class="ibox-tools">
                                            <a class="close-link">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="ibox-content no-padding">
                                        @Html.Partial("_automovelSegurado", Model.Cliente)
                                    </div>
                                </div>
                            </div>
                            <h1>Veículo</h1>
                            <div class="step-content">
                                <div class="ibox float-e-margins" id="divDadosVeiculos">
                                    <div class="ibox-title">
                                        <h5>Dados do Veículo</h5>
                                        <div class="ibox-tools">
                                            <a class="close-link">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="ibox-content" id="idContentVeic">
                                        @Html.Partial("_automovelItem", Model.Item)
                                    </div>
                                </div>
                            </div>
                            <h1>Questionário</h1>
                            <div class="step-content">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <h5>Questionário do Veículo</h5>
                                        <div class="ibox-tools">
                                            <a class="close-link">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="ibox-content ibox-heading">
                                        <h4> Perfil de Uso do Veículo</h4>
                                        <small><i class="fa fa-map-marker"></i> Responda as perguntas do Perfil de Uso do Veículo</small>
                                    </div>
                                    <div class="ibox-content">
                                        @Html.Partial("_automovelQuestionario", Model.Questionario)
                                    </div>
                                </div>
                            </div>
                            <h1>Perfil do Seguro</h1>
                            <div class="step-content">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <h5>Perfil do Principal Condutor</h5>
                                        <div class="ibox-tools">
                                            <a class="close-link">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="ibox-content ibox-heading">
                                        <h4> Perguntas</h4>
                                        <small><i class="fa fa-map-marker"></i> Responda as perguntas de principais do Segurado</small>
                                    </div>
                                    <div class="ibox-content">
                                        @Html.Partial("_automovelPerfil", Model.Perfil)
                                    </div>
                                </div>
                            </div>
                            <h1>Coberturas</h1>
                            <div class="step-content">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <h5>Selecione as Coberturas</h5>
                                        <div class="ibox-tools">
                                            <a class="close-link">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="ibox-content ibox-heading">
                                        <h3>Coberturas</h3>
                                        <small><i class="fa fa-map-marker"></i> Preencha os valores das coberturas contratadas</small>
                                    </div>
                                    <div class="ibox-content" id="listCobId">
                                        @Html.Partial("_automovelCoberturas", Model.ListCoberturas)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @Html.Partial("_automovelResumo", Model)
                </div>
                <button type="button" class="btn btn-danger btn-primary btn-rounded button-glow fa fa-backward" id="btnVoltar"> Voltar !</button>
                <div>&nbsp;</div>
                <div id="errorSummaryCotacao">
                    @Html.Partial("_ErrorSummary")
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/Scripts/Cotacao/CotacaoElementsUIScript.js")
    @Scripts.Render("~/Scripts/Cotacao/jquery.steps.min.js")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/fooTable")
    @Scripts.Render("~/plugins/touchSpin")
    @Scripts.Render("~/Scripts/Cotacao/jquery.mask.min.js")
    @Scripts.Render("~/Scripts/Cotacao/AutoComplete.js")
    @Scripts.Render("~/Scripts/Cotacao/CotacaoScript.js")
    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue'
            });

            $('#data_5 .input-daterange').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true
            });

            $('.footable').footable();

            $(".touchspin2").TouchSpin({
                min: 0,
                max: 1000000,
                step: 1,
                decimals: 2,
                boostat: 5,
                maxboostedstep: 100,
                buttondown_class: 'btn btn-default',
                buttonup_class: 'btn btn-default',
                prefix: 'R$'
            });
        });


        var config = {
            '.chosen-select': {},
            '.chosen-select-deselect': { allow_single_deselect: true },
            '.chosen-select-no-single': { disable_search_threshold: 10 },
            '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
            '.chosen-select-width': { width: "95%" }
        }
        for (var selector in config) {
            $(selector).chosen(config[selector]);
        }
    </script>
}
